.DS_Store

# Xcode
ios/*.xcodeproj/
xcuserdata/
DerivedData/
build/
*.xcuserstate

# Android / Gradle
.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/.kotlin/
*.iml
captures/
.externalNativeBuild/
.cxx/
